*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
body {
    background-color: rgb(0, 71, 71);
    color: antiquewhite;
}
.greetings{
    position: relative;
    text-align: center;
    margin: auto;
    height: auto;
    width: 40%;
    transform: translate(0px, 30vh);
}
.greetings h2{
    color: aquamarine;
    margin: 10px;
}
.greetings p{
    font-size: 18px;
    padding: 8px;
}
.wink{
    font-size: 28px;
}
.signup{
    position: relative;
    width: 80%;
    top: 40vh;
    height: 40vh;
    margin: auto;
    margin-top: 35vh;
    margin-bottom: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.signup div{
    display: flex;
    justify-content: center;
    width: 100%;
}
.signup button{
    border-radius: 10px;
    width: 10%;
    background-color: aquamarine;
    transition: 0.3s;
    border: 1px rgb(15, 48, 48) solid;
}   
.signup button:hover{
    transform: translateY(7px);
    background-color: azure;
    color: rgb(0, 71, 71);
    border: none;
}
.signup input:focus{
    border: 0px;
    background-color: aquamarine;
}
.last-part{
    display: none;
    flex-direction: column;
    align-items: center;
    height: 400vh;
    justify-content: space-around;
}
.merge-sort-inner{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}   
.merge-sort{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 40vh;
}
.last-part div button{
    width: 10%;
    border-radius: 10px;
    width: 10%;
    background-color: aquamarine;
    transition: 0.3s;
    border: 1px rgb(15, 48, 48) solid;
}
.last-part div button:hover{
    transform: translateY(7px);
    background-color: azure;
    color: rgb(0, 71, 71);
    border: none;
}
.merge-sort-inner p{
    background-color: aquamarine;
    border-radius: 12px;
    width: 70%;
    color: black;
    text-align: center;
}
.service{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 40vh; 
}
.service-inner{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
}
.course{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 40vh;
}
.main{
    background-color: #0066ff;
    border: 1px #031a3b solid;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}
.holder{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}
.result:not(:first-child) {
    position: absolute;
    visibility: hidden;
    left: 42%;
}
.dices{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.dice{
    display: block;
    text-align: center;
    width: 200px;
    height: 200px;
    margin-right: 10px;
    background-color: rgb(218, 13, 13);
    border-radius: 20px;
    display: grid;
    margin: auto;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.circles {
    height: 60%;
    width: 60%;
    background-color: wheat;
    border-radius: 50%;
}
.roll{
    width: 50%;
    margin: 10px;
}
.roll-btn{
    font-size: 20px !important;
    position: relative !important;
    bottom: 8vh !important;
    color: #3083ff !important;
    border: 0 !important;
    border-radius: 10px !important;
    padding: 4px !important;
    background-color: #74a6f1 !important;
    width: 100% !important;
    transition: 0.3s !important;
}
.roll-btn:hover{
    background-color: #eef2f8 !important;
    transform: translateY(10px) !important;
}
.circles1:nth-child(2n + 1){
    visibility: hidden;
}
.circles2:nth-child(2n){
    visibility: hidden;
}
.dice-service{
    height: 140vh;
}
.last-btn{
    border-radius: 10px;
    width: 100px;
    background-color: aquamarine;
    transition: 0.3s;
    border: 1px rgb(15, 48, 48) solid;   
}
.last-btn:hover{
    transform: translateY(3px);
    background-color: azure;
    color: rgb(0, 71, 71);
    border: none;   
}